  .contact {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: center;
  }

  .contact img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .contact-info {
    margin-left: 20px;
  }

  .contact-info h2 {
    font-size: 18px;
    color: #333;
  }

  .contact-info p {
    font-size: 14px;
    color: #999;
  }

  .contact-info p:first-child {
    margin-top: 0;
  }

  .contact-info p:last-child {
    margin-bottom: 0;
  }